@use "imports" as *;

.heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 8px;
  h1 {
    margin-bottom: 0;
    margin-left: 8px;
  }
}

.customer-card {
  margin-bottom: 8px;
  &__row {
    display: flex;
    flex-direction: column;
    min-height: 60px;
    align-items: flex-start;
    justify-content: flex-start;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    margin: 0;
    padding: 8px 0;
    box-sizing: border-box;
    @include media(">=Small") {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
  }
  &__edit {
    width: 100%;
    mat-form-field {
      width: 100%;
      @include media(">=Small") {
        width: 300px;
      }
    }
  }
  &__image {
    background-size: cover;
  }
  &__label {
    min-width: 120px;
    font-weight: 500;
    margin-bottom: 8px;
    @include media(">=Small") {
      margin-right: 8px;
    }
  }
  &__content--email {
    word-break: break-all;
  }
}

.action-link {
  margin-left: 8px;
}
