.heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 8px;
  h1 {
    margin-bottom: 0;
    margin-left: 8px;
  }
}

.customer-card {
  margin-bottom: 8px;
  &__row {
    display: flex;
    min-height: 60px;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    margin: 0;
  }
  &__image {
    background-size: cover;
  }
  &__label {
    min-width: 120px;
    margin-right: 8px;
    font-weight: 500;
  }
  &__content--email {
    word-break: break-all;
  }
}

.action-link {
  margin-left: 8px;
}
